* {
    font-family: 'Roboto', sans-serif;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
}

.prime {
    height: 800px;
    width: 450px;
    border: 1px solid black; 
    margin-left: 50px;
    margin-top: 50px;

}

.model_visual,
.model_choose {
    height:49%;
}

.model_visual {
    background-color: red;
    border-radius: 40px 40px 0 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img_trademark_cover {
    height: 30%;
    margin-left: 7px;
    margin-top: 20px;
}

.model_visual > h1 {
    height: 20%;
    margin-left: 20px;
    margin-top: 20px;
}

.model_visual > p {
    height: 55%;
    margin-left: 20px;
    margin-top: 20px;
}

.img_trademark {
    width: 100px;
    height: 70px;
}

.img_shoose_cover {
    position: absolute;
    left: 250px;
    top: 150px;
}

.img_shoose {
    width: 450px;
    height: 300px;
    transform: rotate(15deg);
}

p.big_letters {
    margin: 0;
    font-size: 150px;
    opacity: 0.2;
    position: relative;
    right: 10px;
}



/* 2nd part of prime  */

.model_choose {
    background-color: white;
    border-radius: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.model_choose div {
    margin-left: 20px;
}

.viewer,
.sizer {
    height: 30%;
    position: relative;
}

.colorer {
    height: 40%;
}

.viewer .raiting_cover,
.sizer .size_cover,
.colorer .colour_cover {
    margin-left: 5px;
}

.outer_div {
    background-color: green;
    position: absolute;
    color: white;
    border-radius: 10px;
}

.outer_div1 {
right: 90px;
top: 15px;
padding: 3px;
}

.outer_div2 {
    width: 300px;
    height: 80px;
    padding-bottom: 3px;
    left: 160px;
    bottom: 70px;
    text-align: center;
    font-size: 40px;
    }

.outer_div2 p {
    padding-top: 20px;
}

.viewer_name {
    margin-top: 30px;
}

.raiting_cover {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.raiting_cover label {
    width: 30px;
    height: 30px; 
    display: block;
    position: relative;
}

.raiting_cover input[type="checkbox"] + span {
    position: absolute; /* Абсолютное позиционирование */
    right: 9px; bottom: 9px;
    width: 100%; height: 100%;
    /* background: url(../img/star.png) no-repeat; Фоновый рисунок */
    background-image: url(../img/star.png);
    background-size: cover;
   }

.sizer h3 {
    padding-top: 25px;
}

.size_cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    width: 60%;
}

.size_cover label {
    width: 30px;
    height: 30px; 
    display: block;
    position: relative;
}

.size_cover input[type="checkbox"] + span {
    position: absolute; /* Абсолютное позиционирование */
    right: 9px; bottom: 9px;
    width: 100%; height: 100%;
    background-color: white;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
   }

.size_cover label span:hover {
    background-color: red;
    color: white;
}

.colour_cover {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.radio-buttons {
    display: flex;
}
input[type=radio]{
    display: none;
}
.radio-label {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;

}

.radio-circle {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-top: 3px;
    
}

.radio-circle1 {
    background: red;
}

.radio-circle2 {
    background: green;
}

.radio-circle3 {
    background: yellow;
}

/* #radio:checked + label[for="radio"] .radio-circle {
    background: green;
} */

#radio:checked + label[for="radio"] {
    border: 2px solid red;
}

/* #radio-second:checked + label[for="radio-second"] .radio-circle {
    background: green;
} */

#radio-second:checked + label[for="radio-second"] {
    border: 2px solid green;
}

#radio-third:checked + label[for="radio-third"] {
    border: 2px solid yellow;
}
